@import "./root.css";

#title_page {
    color: white;
    padding: 10;
    text-align: center;
    font-size: xx-large;
    font-weight: 600;
    background-image: linear-gradient(to bottom, var(--background-default), var(--primary-main));
}

#headerSection{
    height: 5rem;
    width: 100%;
    border-bottom: 1.5px solid var(--divider);
    margin-left: 0px;
    margin-right: 0px;
}

/* #subtitle {
    padding: 5;
    text-align: left;
    font-size: large;
    font-weight: 600;
    //background-image: linear-gradient(to bottom, #ECECEC, #0066CC);
} */

#logo {
    position: absolute;
    height: 60px;
    margin: 10px;
}

h1 {
    letter-spacing: -0.011em;
    font-size: var(--font-size-h1);
    text-align: right;
    padding-right: 20px;
    color: var(--text-primary);
    /* font-weight: 400; */
    /* line-height: 28px; */
}

h2 {
    font-weight: 600;
    font-size: var(--font-size-h2);
    line-height: 42px;
    color: var(--text-primary);
    margin-top: 20px;
    margin-bottom: 0px;
    padding-left: 20px;
    padding-right: 20px;
}

h3 {
    font-weight: 400;
    font-size: var(--font-size-h3);
    line-height: 24px;
    color: var(--text-secondary);
    margin-top: 0px;
    padding-left: 20px;
    padding-right: 20px;
}



button:not([data-fdk], #home-button, #confirm-button) {
    position: absolute;
    right: 260px;
    left: auto;
    top: 530px;
}

.central {
    margin:auto;
    display: block;
    top: calc(50% - 200px);
    position: relative;
    text-align: center;
}

.central~h2 {
    text-align: center;
    top: calc(50% - 200px);
    position: relative;
}

.central~h3 {
    text-align: center;
    top: calc(50% - 200px);
    position: relative;
}

/* button:not(#home-button, #confirm-button) {
    border-radius: 10px;
    background-color: #0066cc;
    border: none;
    padding: 12px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-flex;
    font-size: 16px;
    margin: 10px;
    float: right;
    color: white;
    font-weight: 600;
    cursor: pointer;
    position: absolute;
    right: 0px;
    top: 530px;
}

button.negative {
    background-color: #ececec;
    color: #0066cc;
    border: 2px solid;
}

#exit {
    background-color: #ececec;
    color: rgba(204, 0, 0, 1);
    border: 2px solid;
    background: url(./exit.svg) no-repeat;
    background-position-y: center;
}

#exit {
    background-color: #ececec;
    color: rgba(204, 0, 0, 1);
    border: 2px solid;
    background: url(./exit.svg) no-repeat;
    background-position-y: center;
}

#back {
    background-color: #0066cc;
    color: rgba(0, 102, 204, 1);
    border: 2px solid;
    background: url(./back.svg) no-repeat;
    background-position-y: center;
}

button.exit {
    background-color: #ececec;
    float: left;
    color: black;
} */

body {
    /* border-style: solid;
    width: 800px;
    height: 600px;
    word-break: normal !important;
    position: relative;
    margin: auto; */
    font-family: var(--font-family);
}

input {
    width: 40%;
    padding: 12px 20px;
    margin: auto;
    box-sizing: border-box;
    border: 1px solid var(--divider);
    border-radius: 4px;
    background-color: var(--background-paper);
    border-color: var(--divider);
}

input[type="text"]:focus{
    border: 1px solid var(--primary-main);
}

/* ul {
    list-style-type: none;
    padding-left: 0px;
    overflow: auto;
    max-height: 350px;
}

li {
    border-radius: 4px;
    border: none;
    padding: 15px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    position: relative;
    font-size: 16px;
    margin: 10px;
    font-weight: 600;
    cursor: pointer;
    width: 150px;
    height: 100px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px 0px #8e8e8e;
    transition: all 0.5s;
    border: 1px solid rgba(0, 102, 204, 1);
    vertical-align: top;
}

li>span.small {
    color: rgba(0, 102, 204, 1);
}

li>span {
    transition: 0.5s;
}

li>img {
    position: absolute;
    bottom: 5px;
    margin-left: 10px;
    right: 40px;
}

li>img+img {
    right: 75px;
}

li>img+img+img {
    right: 110px;
}

li span:after {
    content: '\00bb';
    position: absolute;
    opacity: 1;
    right: -10px;
    right: 15;
    bottom: 0;
    transition: 0.5s;
    font-size: 33px;
    color: rgba(0, 102, 204, 1);
} */

/* .loader {
    border: 10px solid #f3f3f3;
    border-radius: 50%;
    border-top: 10px solid #3498db;
    width: 60px;
    height: 60px;
    position: fixed;
    top: 240px;
    left: calc(50% - 30px);

    -webkit-animation: spin 1s linear infinite;
    animation: spin 1s linear infinite;
}

.loader::after {
    position: absolute;
    top: -2370px;
    left: -2370px;
    width: 8000%;
    height: 8000%;
    content: '';
    background: rgba(0, 0, 0, 0.2);
    z-index: -1;
} */

/* Safari */
/* @-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(720deg);
    }
} */

label {
    display: block;
    text-overflow: ellipsis;
    /* margin: 26px; */
    text-align: center;
    margin-right: auto;
    margin-left: auto;
}

span.small {
    display: inline-block;
    text-align: left;
    font-size: 12px;
    color: var(--text-secondary);
}

span.large {
    display: inline-block;
    text-align: left;
    font-size: 28px;
    color: black;
}

td>p>span,
td>span {
    color: black;
    font-size: 0.9rem;
    font-weight: 900;
}

table {
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
    text-align: center;
}

th {
    font-size: 25px;
    font-weight: 900;
}

th,
tr {
    text-align: left;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    width: 90%;
    margin-right: 50px;
    margin-left: 40px;
    justify-content: space-between;
}

th.right,
td.right {
    text-align: right;
    padding-left: 25px;
}

td {
    border-bottom: 1px solid var(--divider);
    display:inline-flex;
    align-items: center;
    width: 47%;
}

p.left {
    margin: 10px;
    margin-left: 20px;
    width: 330px;
    background-color: var(--info-extraLight);
    border-radius: 16px;
    display: flex;
    text-align: justify;
    padding: 15px;
    padding-right: 20px;
}

p.left > img {
    padding-right: 15px;
    height: 1.5rem;
}

td>p {
    /* display: inline-block; */
    display: flex;
    flex-direction: column;
}

span::before {
    white-space: pre;
}

thead::before {
    content: '-';
    display: block;
    line-height: 3em;
    color: transparent;
}

/* .EPP {
	position: absolute;
	left: 834px;
	top: 200px;
}

.EPP > button {
	float: none;
	background-color: #ececec;
	color: black;
	border: 1px solid;
}

.EPP > button[onclick] {
	background-color: #0066cc;
} */

#message_free {
    margin: auto;
    padding: 100px 50px;
    font-size: x-large;
    text-align: center;
}

thead > tr {
    border: 1px solid var(--divider);
    border-radius: 18px;
    margin-bottom: 10px;
}

tbody > tr > td> span{
    font-weight: 400;
    margin-bottom: 10px;
    margin-left: 50px;
}

tbody > tr > td.right > span{
    font-weight: 900;
}

tfoot > tr > td {
    border: none;
    margin-left: 50px;
}

td > img {
    margin-right: 10px;
}