@import "./root.css";

#no-touch {
    width: 800px;
    height: 600px;
    border: 1px solid black;
}

#no-touch #subtitle {
    padding: 5;
    text-align: left;
    font-size: large;
    font-weight: 600;
    /* // background-image: linear-gradient(to bottom, #ECECEC, #0066CC); */
}

#no-touch #logo {
    position: absolute;
    height: 60px;
    margin: 10px;
}


#no-touch .central {
    margin-right: auto;
    margin-left: auto;
    display: block;
    top: calc(50% - 200px);
    position: relative;
}

#no-touch .central~h2 {
    text-align: center;
    top: calc(50% - 200px);
    position: relative;
}

#no-touch .central~h3 {
    text-align: center;
    top: calc(50% - 200px);
    position: relative;
}


#no-touch .central {
    margin-right: auto;
    margin-left: auto;
    display: block;
    top: calc(50% - 200px);
    position: relative;
}

#no-touch .central~h2 {
    text-align: center;
    top: calc(50% - 200px);
    position: relative;
}

#no-touch .central~h3 {
    text-align: center;
    top: calc(50% - 200px);
    position: relative;
}


#no-touch button:not(#home-button, #confirm-button, #exit) {
    position: absolute;
    background-color: #ffffff;
    width: 340px;
    height: 64px;
    border-radius: 4px;
    padding: 12px 28px;
    text-align: center;
    text-decoration: none;
    display: inline-flex;
    font-size: 16px;
    margin: 10px;
    float: right;
    font-weight: 600;
    cursor: pointer;
    font-family: "Titillium Web", sans-serif;
    justify-content: space-between;
    align-items: center;
    color: black;
    border: 1px solid #E8EBF1;
    background: url(./leftArrow.svg) no-repeat;
    background-position-y: center;
}


#no-touch #exit {
    /* position:absolute; */
    background-color: #ffffff;
    width: 340px;
    height: 64px;
    border-radius: 4px;
    padding: 12px 28px;
    text-align: center;
    text-decoration: none;
    display: inline-flex;
    font-size: 16px;
    margin: 10px;
    float: right;
    font-weight: 600;
    cursor: pointer;
    font-family: "Titillium Web", sans-serif;
    justify-content: space-between;
    align-items: center;
    color: black;
    border: 1px solid #E8EBF1;
    background: url(./leftArrow.svg) no-repeat;
    background-position-y: center;
}


#no-touch #back {
    background-color: #0066CC;
    color: rgba(0, 102, 204, 1);
    border: 2px solid;
    background: url(./back.svg) no-repeat;
    background-position-y: center;
}

#no-touch button.exit {
    background-color: #ECECEC;
    float: left;
    color: black;
}


#no-touch ul {
    list-style-type: none;
    padding-left: 0px;
    padding-top: 25px;
    /* height: 100%; */
    overflow: auto;
    max-height: 260px;
    display: flex;
    flex-direction: column;
    align-items: start;
}


#no-touch [data-fdk='S4'] {
    position: absolute;
    top: 510px;
    left: 26px;
}

#no-touch [data-fdk='S3'] {
    position: absolute;
    top: 400px;
    left: 36px;
    right: auto;
}

#no-touch [data-fdk='S2'] {
    position: absolute;
    top: 330px;
    left: 36px;
    right: auto;
}

#no-touch [data-fdk='S1'] {
    position: absolute;
    top: 270px;
    left: 36px;
    right: auto;
}

#no-touch [data-fdk='S7'] {
    position: absolute;
    right: 0px;
    left: auto;
    top: 400px;
}

#no-touch [data-fdk='S8'] {
    position: absolute;
    left: 446px;
    top: 510px;
    background: url(./rightArrow.svg) no-repeat;
    justify-content: flex-end;
}

#no-touch li {
    width: 288px;
    height: auto;
    border-radius: 4px;
    background-color: #ffffff;
    border: none;
    padding: 15px 28px;
    text-align: center;
    text-decoration: none;
    display: inline-flex;
    font-size: 16px;
    margin: 10px;
    margin-left: 20px;
    float: right;
    color: white;
    font-weight: 600;
    cursor: pointer;
    font-family: "Titillium Web", sans-serif;
    color: black;
    border: 1px;
    border-color: #E8EBF1;
    border-style: solid;
    justify-content: space-between;
    align-items: center;
    background: url(./leftArrow.svg) no-repeat;
    background-position-y: center;
}

#no-touch li>span.small {
    color: rgba(236, 236, 236, 1);
}


#no-touch li span::before {
    content: none;
    vertical-align: middle;
}

#no-touch button span::before {
    content: none;
    vertical-align: middle;
}

#no-touch li>img {
    display: block;
    float: right;
    margin-left: 10px;
}

#no-touch label {
    display: block;
    text-overflow: ellipsis;
    /* margin: 26px; */
    text-align: center;
    margin-right: auto;
    margin-left: auto;
}


#no-touch span.small {
    display: inline-block;
    text-align: left;
    font-size: 12px;
    color: gray;

}

#no-touch span.large {
    display: inline-block;
    text-align: left;
    font-size: 28px;
    color: black;

}

#no-touch td>p>span,
td>span {
    color: black;
    font-size: 20px;
    font-weight: 900;
}


#no-touch table {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    text-align: center;
}

#no-touch th {
    font-size: 25px;
    font-weight: 900;
}

#no-touch th,
tr {
    text-align: left;
}

#no-touch h.right,
td.right {
    text-align: right;
}

#no-touch td {
    border-bottom: 1px solid lightGrey;
}

#no-touch p.left {
    margin: 20px;
    width: 350px;
    background-color: lightBlue;
    border-radius: 4px;
    padding: 5px;
    padding-left: 15px;
}


#no-touch td>p {
    display: inline-block;
}


#no-touch thead::before {
    content: "-";
    display: block;
    line-height: 3em;
    color: transparent;
}

#no-touch .EPP {
    position: absolute;
    left: 834px;
    top: 200px;
}

#no-touch .EPP>button {
    float: none;
    background-color: #ECECEC;
    color: black;
    border: 1px solid;
}

#no-touch .EPP>button[onclick] {
    background-color: #0066CC;
}


#no-touch #message_free {
    margin: auto;
    padding: 100px 50px;
    font-size: x-large;
    text-align: center;
}