.decoded-html {
    font-family: "Titillium Web", sans-serif;
}

.decoded-html #logo {
    display: inline;
    vertical-align: middle; /* Allinea verticalmente l'immagine */
}

.decoded-desc {
    display: inline;
    margin-top: 0px;
    margin-left: 10px; /* Aggiunge uno spazio a sinistra dell'h1 */
    vertical-align: middle; /* Allinea verticalmente l'elemento h1 */
    font-weight: 400;
    font-size: large;
    text-align: right;
    /* float: right; */
}

.decoded-title {
    font-weight: 600;
    font-size: 28px;
    line-height: 42px;
    color: #17324D;
}

.decoded-subtitle {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #5C6F82;
}

.centered-text {
    text-align: center;
}

.left-aligned-text {
    text-align: left;
}

.subtitle-row {
    height:auto;
}

.centered-element {
    padding: 0px;
    display: flex;
    justify-content: center;
}

.centered-element-vertical {
    padding: 0px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.left-aligned-element {
    padding: 0px;
    display: flex;
    justify-content: flex-start;
}

.decoded-normal-button { 
    width: 50%; 
    border-radius: 4px;  
    background-color: #ffffff;
    border: none;  
    padding: 15px 32px; 
    text-align: center;  
    text-decoration: none;
    display: inline-flex;				
    font-size: 16px;
    margin: 10px;
    float: right;
    color: white;
    font-weight: 600;
    cursor:pointer;
    font-family:  "Titillium Web", sans-serif;
    color: black;
    border: 1px;
    border-color: #E8EBF1;
    border-style: solid;
    justify-content: space-between;
    align-items: center;
}

#exit { 
    width: 50%; 
    border-radius: 4px;  
    background-color: #ffffff;
    border: none;  
    padding: 22px 32px; 
    text-align: center;  
    text-decoration: none;
    display: inline-flex;				
    font-size: 16px;
    margin: 10px;
    float: right;
    color: white;
    font-weight: 600;
    cursor:pointer;
    font-family:  "Titillium Web", sans-serif;
    color: #D75252;
    border: 1px;
    border-color: #D75252;
    border-style: solid;
    justify-content: flex-start;
    align-items: center;
}

td > p > span {
    font-weight: bold;
    font-size: large;
}

span.small {
    font-weight: lighter;
    font-size:medium;
    color: #5C6F82;
}

span.small::after{
    content: "\a";
    white-space: pre;
}

input {
    width: 85%; 
    border-radius: 4px;  
    background-color: #ffffff;
    border: none;  
    padding: 15px 32px; 
    text-align: center;  
    text-decoration: none;
    display: inline-flex;				
    font-size: 16px;
    margin-bottom: 10px;
    float: right;
    outline: white;
    font-weight: 600;
    cursor:pointer;
    font-family:  "Titillium Web", sans-serif;
    color: black;
    border: 1px solid #e8ebf1;
    border-style: solid;
    justify-content: space-between;
    text-align: left;

}

input:focus {
    outline: 1px solid #0066cc;
}

label{
    width:60%;
    text-align: start;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

div .mui-row {
    margin-bottom: 2%;
}

div .left{
    background-color: #e1f5fe;
    border-radius: 4px;
}
