@import "./root.css";

#touch {
    width: 800px;
    height: 600px;
    border: 2px solid var(--validate-contrastText);
}

#touch #exit span {
    vertical-align: middle;
}

#touch button {
	border-radius: 10px;
	background-color: var(--primary-main);
	border: none;
	padding: 15px 40px;
	text-decoration: none;
	display: inline-flex;
	font-size: 16px;
	margin: 10px;
	float: right;
	color: white;
	font-weight: 600;
	cursor: pointer;
}

#touch button.negative {
	background-color: var(--background-paper);
	color: var(--primary-main);
	border: 2px solid;
}

#touch #exit {
	background-color: var(--background-paper);
	color: var(--error-main);
	border: 2px solid;
	background: url(./exit.svg) no-repeat;
	background-position-y: center;
	position: absolute;
    right: auto;
    left: 180px;
    top: 520px;
}

#touch #exit[data-fdk='S4']{
	background-color: var(--background-paper);
	color: var(--error-main);
	border: 2px solid;
	background: url(./exit.svg) no-repeat;
	background-position-y: center;
	position: absolute;
    top: 520px;
    left: auto;
	min-height: 52px;
}

#touch #back {
	background-color: var(--primary-main);
	color: var(--primary-main);
	border: 2px solid;
	background: url(./back.svg) no-repeat;
	background-position-y: center;
}

#touch ul {
	list-style-type: none;
	padding-left: 0px;
	overflow: auto;
	max-height: 350px;
}

#touch li {
	border-radius: 4px;
	border: none;
	padding: 15px 10px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	position: relative;
	font-size: 16px;
	margin: 10px;
	margin-top: 48px;
	font-weight: 600;
	cursor: pointer;
	width: 150px;
	height: 100px;
	border-radius: 10px;
	/* box-shadow: 5px 5px 10px 0px #8e8e8e; */
	/* transition: all 0.5s; */
	border: 1px solid var(--divider);
	vertical-align: top;
}

#touch li > span.small {
	color: var(--primary-main);
}

#touch li > span {
	transition: 0.5s;
}

#touch li > img {
	position: absolute;
	bottom: 5px;
	margin-left: 0px;
	right: 120px;
}

#touch li > img + img {
	right: 75px;
}

#touch li > img + img + img {
	right: 110px;
}

#touch li span:after {
	position: absolute;
	opacity: 1;
	right: 5px;
	bottom: 0;
	transition: 0.5s;
	font-size: 33px;
	color: var(--primary-main);
}

#touch [data-fdk='S3'] {
    position: absolute;
    top: 400px;
    left: 0px;
    right: auto;
	min-height: 52px;
}

#touch [data-fdk='S4'] {
    position: absolute;
    top: 520px;
    left: auto;
	min-height: 52px;
}

#touch [data-fdk='S7'] {
    position: absolute;
    right: auto;
    left: 390px;
    top: 520px;
	min-height: 52px;
}

#touch [data-fdk='S8'] {
    position: absolute;
    left: auto;
	right: 80px;
    top: 520px;
	min-height: 52px;
}

#touch span::before {
	content: none;
}

#touch span #text {
    vertical-align: middle;
	text-align: center;
}