.decoded-html {
    font-family: "Titillium Web", sans-serif;
}

.decoded-html #logo {
    display: inline;
    vertical-align: middle; /* Allinea verticalmente l'immagine */
}

.decoded-desc {
    display: inline;
    margin-top: 0px;
    margin-left: 10px; /* Aggiunge uno spazio a sinistra dell'h1 */
    vertical-align: middle; /* Allinea verticalmente l'elemento h1 */
    font-weight: 400;
    font-size: large;
    text-align: right;
    /* float: right; */
}

.decoded-html h2 {
    margin-top: 10px;
    vertical-align: middle; 
    font-weight: 600;
    margin-top: 16px;
    margin-bottom: 4px;
}

.decoded-html h3 {
    font-weight: 400;
    font-size: 16px;
    margin-top: 0px;
}

.decoded-normal-button { 
    width: 50%; 
    border-radius: 4px;  
    background-color: #ffffff;
    border: none;  
    padding: 15px 32px; 
    text-align: center;  
    text-decoration: none;
    display: inline-flex;				
    font-size: 16px;
    margin: 10px;
    float: right;
    color: white;
    font-weight: 600;
    cursor:pointer;
    font-family:  "Titillium Web", sans-serif;
    color: black;
    border: 1px;
    border-color: #E8EBF1;
    border-style: solid;
    justify-content: space-between;
    align-items: center;
}

.decoded-exit-button { 
    width: 50%; 
    border-radius: 4px;  
    background-color: #ffffff;
    border: none;  
    padding: 22px 32px; 
    text-align: center;  
    text-decoration: none;
    display: inline-flex;				
    font-size: 16px;
    margin: 10px;
    float: right;
    color: white;
    font-weight: 600;
    cursor:pointer;
    font-family:  "Titillium Web", sans-serif;
    color: #D75252;
    border: 1px;
    border-color: #D75252;
    border-style: solid;
    justify-content: flex-start;
    align-items: center;
}