#title_page {
	color: white;
	padding: 10;
	text-align: center;
	font-size: xx-large;
	font-weight: 600;
	background-image: linear-gradient(to bottom, #ececec, #0066cc);
}

#subtitle {
	padding: 5;
	text-align: left;
	font-size: large;
	font-weight: 600;
	/* background-image: linear-gradient(to bottom, #ECECEC, #0066CC); */
}

#logo {
	position: absolute;
	height: 60px;
	margin: 10px;
}

h1 {
	letter-spacing: -0.011em;
	font-size: 24px;
	text-align: right;
	padding-right: 20px;
	color: #17324d;
	font-weight: 400;
	line-height: 28px;
}

h2 {
	font-weight: 600;
	font-size: 28px;
	line-height: 42px;
	color: #17324d;
	margin-top: 50px;
	margin-bottom: 0px;
	padding-left: 20px;
	padding-right: 20px;
}

h3 {
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	color: #5c6f82;
	margin-top: 0px;
	padding-left: 20px;
	padding-right: 20px;
}

[data-fdk='S4'] {
	position: absolute;
	top: 530px;
}

[data-fdk='S3'] {
	position: absolute;
	top: 400px;
}

[data-fdk='S8'] {
	position: absolute;
	top: 530px;
	left: 400px;
}

.central {
	margin-top: 50px;
	margin-right: auto;
	margin-left: auto;
	display: block;
}

.central ~ h2 {
	text-align: center;
}

.central ~ h3 {
	text-align: center;
}

button {
	border-radius: 4px;
	background-color: #0066cc;
	border: none;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-flex;
	font-size: 16px;
	margin: 10px;
	float: right;
	color: white;
	font-weight: 600;
	cursor: pointer;
}

button.negative {
	background-color: #ececec;
	color: #0066cc;
	border: 2px solid;
}

button.exit {
	background-color: #ececec;
	float: left;
	color: black;
}

body {
	border-style: solid;
	width: 800px;
	height: 600px;
	word-break: normal !important;
}

input {
	width: 70%;
	padding: 12px 20px;
	margin: auto;
	box-sizing: border-box;
	border: 2px solid;
	border-radius: 4px;
	background-color: rgba(0, 180, 204, 0.12);
}

ul {
	list-style-type: none;
	padding-left: 0px;
	overflow: auto;
	max-height: 350px;
}
li {
	border-radius: 4px;
	background-color: #0066cc;
	border: none;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 10px;
	color: white;
	font-weight: 600;
	cursor: pointer;
	width: 305px;
}

li > span.small {
	color: rgba(236, 236, 236, 1);
}
li > img {
	display: b;
	float: right;
	margin-left: 10px;
}

.loader {
	margin: auto;
	padding: 200px 200px;
	border: 10px solid #f3f3f3;
	border-radius: 50%;
	border-top: 10px solid #3498db;
	width: 60px;
	height: 60px;
	-webkit-animation: spin 1s linear infinite; /* Safari */
	animation: spin 1s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
	0% {
		-webkit-transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
	}
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(720deg);
	}
}

label {
	display: block;
	text-overflow: ellipsis;
	margin: 26px;
	text-align: center;
	margin-right: auto;
	margin-left: auto;
}

span.small {
	display: inline-block;
	text-align: left;
	font-size: 12px;
	color: gray;
}

span.large {
	display: inline-block;
	text-align: left;
	font-size: 28px;
	color: black;
}

td > p > span,
td > span {
	color: black;
	font-size: 20px;
	font-weight: 900;
}

table {
	margin-left: auto;
	margin-right: auto;
	width: 80%;
	text-align: center;
}

th {
	font-size: 25px;
	font-weight: 900;
}

th,
tr {
	text-align: left;
}

th.right,
td.right {
	text-align: right;
}

td {
	border-bottom: 1px solid lightGrey;
}

p.left {
	margin: 10px;
	width: 350px;
	background-color: lightBlue;
	border-radius: 4px;
	padding: 5px;
	padding-left: 15px;
}

td > p {
	display: inline-block;
}

span::before {
	content: '\A';
	white-space: pre;
}

thead::before {
	content: '-';
	display: block;
	line-height: 3em;
	color: transparent;
}

.EPP {
	position: absolute;
	left: 834px;
	top: 200px;
}

.EPP > button {
	float: none;
	background-color: #ececec;
	color: black;
	border: 1px solid;
}

.EPP > button[onclick] {
	background-color: #0066cc;
}

#message_free {
	margin: auto;
	padding: 100px 50px;
	font-size: x-large;
	text-align: center;
}
